.flex{
    display: flex;
}
.upperCase{
    text-transform: uppercase;
}
.semi-bold{
    font-weight: bolder;
}
.space-between{
    justify-content: space-between;
}
.mx-2{
    margin-left: 12px;
    margin-right: 12px;
}
.item-centre{
    align-items: center;
}
.justify-content{
    justify-content: center;
}
.flex-wrap{
    flex-wrap: wrap;
}
.img{
    height: 20px;
    width:20px
}
footer{
    padding:23px;
    text-align:centre;
    box-shadow:rgb(0 0 0/24%)0px 3px 8px
}